#search-container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#searchbar {
  text-align: center;
  margin: auto;
  font-family: 'Lato', sans-serif;
  height: 60px;
  border-color: var(--indigo8);
  color: var(--indigo8);
  background-color: var(--blue0);
}

::placeholder {
  color: var(--indigo8);
}

#searchbar:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border-color: var(--indigo8);
}

fa {
  color: var(--indigo8);
}
