table {
  font-size: 0.75em;
  font-family: Helvetica, sans-serif;
  margin-top: 30px;
}

td, th {
  padding: 10px 30px;
  vertical-align: middle;
}

th {
  font-weight: lighter;
  background-color: var(--indigo8) !important;
  white-space: nowrap;
}

tr:hover {
  cursor: pointer;
  background-color: white;
}

.green {
  color: var(--gray9);
  background-color: var(--teal1);
}

.red {
  background-color: var(--pink1);
  color: var(--gray9);
}

.sell-status-red {
  color: var(--pink5);
  font-weight: bold;
}

.sell-status-green {
  color: var(--teal7);
  font-weight: bold;
}

fa {
  padding-left: 5px;
  color: lightgray;
}

fa:hover {
  color: white;
}

.sort-up {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
}

.sort-down {
  width: 0;
  height: 0;
  display: inline-block;
  margin-top: 10px;
}

.sort-icons {
  display: inline;
  height: 100%;
  padding-left: 5px;
}

.table-header-text {
  position: relative;
  bottom: 5px;
}

.card-deck {
  margin-top: 50px;
}

.card {
  width: 18rem;
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.list-group {
  text-align: center;

}

.price-statistic {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
}

#mean {
  color: var(--pink5);
}

#median {
  color: var(--blue5);
}

#meanCard {
  background-color: var(--pink5);
  color: white;
  border-color: var(--pink5) !important;
}

#medianCard {
  background-color: var(--blue5);
  color: white;
  border-color: var(--blue5);
}

#rangeCard {
  background-color: var(--gray8);
  color: white;
  border-color: var(--gray8);
}

.times-icon {
  color: var(--pink5);
  font-size: 2em;
}

.times-icon:hover {
  color: var(--pink5);
}

.check-icon {
  color: var(--teal7);
  font-size: 2em;
}

.check-icon:hover {
  color: var(--teal7);
}

