<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-dark">
    <tr>
      <th *ngFor="let col of columnNames">
        {{col}}
      </th>
    </tr>
    </thead>
    <tr *ngFor="let item of items; let i = index;" [ngClass]="{
        'green' : item.getSellingState() === 'EndedWithSales',
        'red' : item.getSellingState() === 'EndedWithoutSales'
      }">
      <!--Item number-->
      <td>{{ i + 1 }}</td>
      <!--Item Id-->
      <td> {{ item.getItemId() }}  </td>
      <!--&lt;!&ndash;Title&ndash;&gt;-->
      <td> {{ item.getTitle() }}</td>
      <!--Sale price-->
      <td> ${{ item.getSalePrice() }} </td>
      <!--Ship price-->
      <td> ${{ item.getShipPrice() }} </td>
      <!--&lt;!&ndash;&lt;!&ndash;Total price&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<td> {{ getTotalPrice(item) }} </td>&ndash;&gt;-->
    <!--</tr>-->

  </table>
</div>
<!--<p>table view works!</p>-->
